#headerDiv {
    position: fixed;
    bottom: 1vh;
    width: 99vw;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: black;
    font-size: 6vh;
    background-color: white;
}

.dirText{
    text-decoration: underline;
    font-weight: normal;
}

#alphabetLink{
    color: black;
    text-decoration: underline;
    font-weight: normal;
}

#currentLetter{
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    
    height: 90vh;
}

.gallery a{
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: left;
    flex-shrink: 0;

    padding-right: 4px;

    border-top: 1px, black;
}

.gallery img {
    height: 86vh;
    max-width: 90vw;
    object-fit: contain;

    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    outline-style: solid;
    outline-width: 1px;
}