#headerDiv {
    position: fixed;
    bottom: 1vh;
    width: 99vw;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: black;
    font-size: 50px;
    background-color: white;
}

.dirText{
    text-decoration: underline;
    font-weight: normal;
}

#alphabetLink{
    color: black;
    font-size: 50px;
    text-decoration: underline;
    font-weight: normal;
}

#currentLetter{
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 0px;
    width: 70vw;
    padding-bottom: 70px;
}

.gallery a{
    text-decoration:underline;
    color: black;
    padding-bottom: 25px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    outline: 1px solid black;
}